<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="styles.css"/>
      <title>Quiz</title>
   </head>

   <body>
      <%var questions = data.questions;
      var displayedQuestion = data.displayedQuestion;
      var questionStates = data.questionStates;
      var answered = [];%>
      
      <p>
         <span class="gameHeader"><%=data.texts.questionnaire%>: <%=data.questionnaireName%></span>
         <span class="gameHeader"><%=data.texts.level%>: <%=data.levelName%></span>
         <%=data.texts.score%>: <span class="gameHeader" id="scoreSpan"><%=data.rightAnswerCount%>/<%=data.answerCount%></span>
         <%=data.texts.time%>: <span id="timeSpan"><%=Math.floor(0.001 * data.time)%></span><span class="gameHeader">s</span>
      </p>
      
      <%questions.forEach(function(question, iQuestion) {
         var disabled = questionStates[iQuestion].answered;
         answered.push(disabled);%>
         <div class="question" id="question<%=iQuestion%>" <% if(iQuestion == displayedQuestion) { %>style="display: block;"<% }%>>
            <p><%=data.texts.question%> <span id="iQuestion"><%=iQuestion + 1%></span>/<%=questions.length%></p>
            <p><%=question.question%> <img src="wait.gif" id="wait<%=iQuestion%>" class="waitImg"/></p>
            <% question.choices.forEach(function(choice, iChoice) {
               var checked = Boolean(questionStates[iQuestion].choiceStates[iChoice] & 1);
               var rightChoice = Boolean(questionStates[iQuestion].choiceStates[iChoice] & 2);
               var classStr;
               if (disabled && rightChoice) classStr = 'boldChoice';
   
               if (question.isMultiple) {
                  if (disabled)
                  {
                     if (checked == rightChoice) classStr = (classStr ? classStr + ' greenChoice' : 'greenChoice');
                     else classStr = (classStr ? classStr + ' redChoice' : 'redChoice');
                  } %>
                  <input class="input<%=iQuestion%>" id="input<%=iQuestion%>_<%=iChoice%>" type="checkbox" <% if (checked) { %>checked<% } %> <% if (disabled) { %>disabled<% } %>>
                  <span <% if (classStr) { %>class="<%=classStr%>"<% } %>><%=choice.text%></span>
                  <span id="comment<%=iQuestion%>_<%=iChoice%>"><% if (disabled && choice.comment.length) { %> (<%=choice.comment%>)<% } %></span><br>
            
               <% } else {
                  if (disabled && checked)
                  {
                     if (rightChoice) classStr = (classStr ? classStr + ' greenChoice' : 'greenChoice');
                     else classStr = (classStr ? classStr + ' redChoice' : 'redChoice');
                  } %>
                  <input class="input<%=iQuestion%>" id="input<%=iQuestion%>_<%=iChoice%>" type="radio" <% if (checked) { %>checked<% } %> <% if (disabled) { %>disabled<% } %> name="radio<%=iQuestion%>">
                  <span <% if (classStr) { %>class="<%=classStr%>"<% } %>><%=choice.text%></span>
                  <span id="comment<%=iQuestion%>_<%=iChoice%>"><% if (disabled && choice.comment.length) { %> (<%=choice.comment%>)<% } %></span><br>
            <%}});%>
         </div>
      <% }); %>
      
      <p>
         <button id="previousButton" <% if (displayedQuestion == 0) { %>disabled<% } %>><%=data.texts.previous%></button>
         <button id="submitButton" <% if (questionStates[displayedQuestion].answered) { %>disabled<% } %>><%=data.texts.submit%></button>
         <button id="nextButton" <% if (displayedQuestion == questions.length - 1 || !questionStates[displayedQuestion].answered) { %>disabled<% } %>><%=data.texts.next%></button>
      </p>
      
      <form id="stopForm" action="/" method="post">
         <p>
            <input type="submit" value="<%=data.texts.stop%>" name="stop"/>
         </p>
      </form>
   
      <script>
         var quizId = "<%=data.quizId%>";
         var displayedQuestion = <%=displayedQuestion%>;
         var questionCount = <%=questions.length%>;
         var answered = [<%=answered%>];
         var t0 = <%=data.time%>;
      </script> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="game.js"></script>
      
   </body>
</html>
