<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="styles.css"/>
      <title>Quiz</title>
      <% if (!data.showLanguageSelect) {%>
         <style>
            .languageSelection { display: none; }
         </style>
      <% } %>
   </head>

   <body>
      <div>
         <% if (data.user) { %>
            
         <% } else { %>
            <form id="signInForm" action="/" method="post">
               <label for="nameInput"><%=data.texts.name%>: </label><input type="text" id="nameInput" name="name"/>
               <label for="passInput"><%=data.texts.password%>: </label><input type="password" id="passInput" name="pass"/>
               <input type="submit" value="<%=data.texts.signIn%>" name="signIn"/>
               <input type="submit" value="<%=data.texts.signUp%>" name="enterSignUp"/>
            </form>
         <% } %>
         <%- include('language_select.ejs', data) %>
      </div>
      <p>
         <label for="questionnaireSelect"><%=data.texts.questionnaire%>: </label> 
         <select id="questionnaireSelect">
            <% data.questionnaireList.forEach(function(questionnaire) { 
               if (questionnaire.id == data.questionnaireId) { %>
               <option selected value="<%= questionnaire.id %>">
               <%  } else { %>
               <option value="<%= questionnaire.id %>"> <% } %>
                  <%= questionnaire.name %>
               </option>
            <% }); %>
         </select>
      </p>     
      <p>
         <label class="languageSelection" for="languageSelect"><%=data.texts.language%>: </label> 
         <select class="languageSelection" id="languageSelect">
            <% data.languageList.forEach(function(language) { 
               if (language.id == data.languageId) { %>
               <option selected value="<%= language.id %>">
               <%  } else { %>
               <option value="<%= language.id %>"> <% } %>
                  <%= language.name %>
               </option>
            <% }); %>
         </select>
      </p>   
      <p>
         <label for="levelSelect"><%=data.texts.level%>: </label> 
         <select id="levelSelect">
            <% data.levelList.forEach(function(level) { 
               if (level.id == data.levelId) { %>
               <option selected value="<%= level.id %>">
               <%  } else { %>
               <option value="<%= level.id %>"> <% } %>
                  <%= level.name %>
               </option>
            <% }); %>
         </select>
      </p>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="utils.js"></script>
      <script src="index.js"></script>
   </body>
</html>