<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="styles.css"/>
      <title>Quiz</title>
      <style>
         .errorMessage { display: none; }
         <% if (!data.showLanguageSelect) {%>
            .languageSelection { display: none; }
         <% } %>
      </style>   
   </head>

   <body>
      <div>
         <% if (data.userName) { %>
            <span><%=data.userName%></span>
            <form class="inlineBlockForm" action="/" method="post">
               <input type="submit" value="<%=data.texts.signOut%>" name="signOut"/>
            </form>
         <% } else { %>
            <form class="inlineBlockForm" action="/" method="post">
               <label for="nameInput"><%=data.texts.name%>: </label><input type="text" id="nameInput" name="name"/>
               <label for="passInput"><%=data.texts.password%>: </label><input type="password" id="passInput" name="pass"/>
               <input type="submit" value="<%=data.texts.signIn%>" name="signIn"/>
               <input type="submit" value="<%=data.texts.signUp%>" name="enterSignUp"/>
            </form>
         <% } %>
         <span class="errorMessage" id="cnxMessage1"><%=data.texts.unknownUserOrWrongPassword%></span>
         <span class="errorMessage" id="cnxMessage2"><%=data.texts.connectionFailure%> (<%=data.texts.internalServerError%>)</span>
         <%- include('language_select.ejs', data) %>
      </div>
      <p>
         <label for="questionnaireSelect"><%=data.texts.questionnaire%>: </label> 
         <select id="questionnaireSelect">
            <% data.questionnaireList.forEach(function(questionnaire) { 
               if (questionnaire.id == data.questionnaireId) { %>
               <option selected value="<%= questionnaire.id %>">
               <%  } else { %>
               <option value="<%= questionnaire.id %>"> <% } %>
                  <%= questionnaire.name %>
               </option>
            <% }); %>
         </select>
      </p>     
      <p>
         <label class="languageSelection" for="languageSelect"><%=data.texts.language%>: </label> 
         <select class="languageSelection" id="languageSelect">
            <% data.languageList.forEach(function(language) { 
               if (language.id == data.languageId) { %>
               <option selected value="<%= language.id %>">
               <%  } else { %>
               <option value="<%= language.id %>"> <% } %>
                  <%= language.name %>
               </option>
            <% }); %>
         </select>
      </p>   
      <p>
         <label for="levelSelect"><%=data.texts.level%>: </label> 
         <select id="levelSelect">
            <% data.levelList.forEach(function(level) { 
               if (level.id == data.levelId) { %>
               <option selected value="<%= level.id %>">
               <%  } else { %>
               <option value="<%= level.id %>"> <% } %>
                  <%= level.name %>
               </option>
            <% }); %>
         </select>
      </p>
      <div>
         <form action="/" method="post">
            <input type="submit" value="<%=data.texts.start%>" name="start"/>
         </form>
      </div>
      
      <script>
         var unknwon = <%=data.flags.unknwon%>;
         var error = <%=data.flags.error%>;
         <% if (data.userName) { %>
            var userLogged = true;
         <% } else { %>
            var userLogged = false;
         <% } %>
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="utils.js"></script>
      <script src="index.js"></script>
   </body>
</html>