<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="styles.css"/>
      <title>Quiz</title>
   </head>

   <body>  
      <div id="container"></div>
      
      <script>
         pageInfo =
         {
            page: '<%=data.page%>',
            
            <% if (data.page == 'signUp') { %>
               
            <% } else if (data.page == 'game') { %>
               
            <% } else { %>
               <% if (data.userName) { %>userName: '<%=data.userName%>'<% } %>
               texts:
               {
                  name: '<%=data.texts.name%>',
                  password: '<%=data.texts.password%>',
                  signIn: '<%=data.texts.signIn%>',
                  signUp: '<%=data.texts.signUp%>'
               },
               unknown: '<%=data.unknown%>',
               error: '<%=data.error%>'
            <% } %>
         };
      </script>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="quiz.js"></script>
   </body>
</html>